<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Game Search</title>
    </head>
    <body>
        
        {{#each games}}
            
            <div>
                Name: {{ this.name }}
            </div>
            <div>
                Published: {{ this.year }}
            </div>
            <div>
                Ranking: {{ this.ranking }}
            </div>
            <div>
                Users Rated: {{ this.users_rated }}
            </div>

            
        {{/each}}
       
        <br><br>
        <form action="index.html"method="get">
         <div class="btn-book">
             <input type="submit" value = "Back">
         </div>
         </form>
    </body>
</html>